body{width:100%; height:100%; background:#c1d9f3 url(../images/index_bg.png) no-repeat center center; -webkit-background-size: cover; background-size: cover;}
h2,h3,h4{font-weight: normal;}
.index_header{width:100%; height:90px; background: url(../images/bg_header.png) repeat-x;}
.header_inner{width:1200px; margin:0 auto; padding-top:23px;}
.index_logo{float:left; width:167px; height:34px; background: url(../images/logo.png) no-repeat;}
.index_title{float:left; width:177px; height:55px; background: url(../images/center.png) no-repeat; margin-left: 345px;}
.testpage_content{width:1100px; margin:-8px auto 80px; background-color: #fff; padding:0 10px 70px 50px;}
.testperson_message{overflow: hidden; padding: 22px 0 40px 220px;}
.testperson_message li{float:left; padding-right:100px;}
.message_name{float:left; font-size: 18px; color:#262626; line-height:29px; width:150px;}
.message_con{color:#0b508c;}
.testtitle{font-size: 26px; color:#262626; text-align: center; line-height:30px; padding-bottom:40px; font-weight: normal;}
.testtitle_type{font-size: 24px; color:#262626; line-height:25px; padding-bottom:30px;}
.type_detail{font-size: 18px;}
.problems_title{font-size: 20px; line-height: 20px; color:#262626; padding-bottom: 30px;}
.problems_con{padding:0 0 50px 20px; overflow: hidden;}
.problems_one{float:left; width:500px; padding:0 40px 40px 0; line-height:25px;}
.choose{float:left; padding:3px 10px 0 0;}
.choosename,.choosecon{float:left; font-size: 18px; color:#4c4c4c; line-height:25px;}
.choosecon{width:450px;}
.test_page{overflow: hidden; width:450px; margin:0 auto;}
.test_page li{float:left; cursor: pointer;}
.pageone,.pagelast,.pagenext,.lastpage{font-size: 20px; color:#4c4c4c; padding:5px; border:1px solid #b3b2b2; background-color: #fbfbfb; margin-right:10px;}
.pagenum,.page_number{font-size: 20px; color:#4c4c4c;margin:0 10px; line-height:40px;}
.pagenum input{width:45px; height:30px; border:1px solid #b3b2b2; margin:0 5px;}
.test_submit  a{display: block; width:185px; height:55px; margin:50px auto 0;}




