<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd"> 
<mapper namespace="com.speedy.exam.dao.FileDao">

	<insert id="importQuestions" parameterType="com.speedy.exam.model.Question">
		 insert into t_e_question (questionkey,questiontype,industry,category,questionnumber,content,alternativeanswer,correntanswer,score) 
		 values(#{questionkey},#{questiontype},#{industry},#{category},#{questionnumber},#{content},#{alternativeanswer},#{correntanswer},#{score})
	</insert>
	
	<select id="getMaxNumber" resultType="int">
		    SELECT MAX(questionnumber) questionnumber FROM t_e_question
	</select>
	
      
</mapper>